.final{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.final__titulo{
    color: white;
    font-size: 31px;
    margin-bottom: 20px;
    font-family: 'Rubik Dirt', cursive;
}

.final__contactos:hover{
    transform: scale(110%);

}


@media screen and (max-width:700px) {
    .final{
        justify-content: start;
    
    }
    .final__titulo{
        margin-bottom: 15px;
    }
    
}